.App {
  text-align: center;
}

h1{
  font-size: 2rem;
}

.show-result{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.flex-container{

   width: 100%;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  text-align: center;

}


@media screen and (max-width: 906px) {



  h1{
    font-size: 1rem;
  }


  .show-result{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1px;
    width: 100%;
    margin: 0 auto;
  }


}

@media screen and (max-width: 606px) {



  h1{
    font-size: 1.5rem;
  }

  .show-result{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0 auto;
  }


}

